# disp driver
/dev/disp                 0660   system     system
/dev/graphics/fb0         0660   system     system
/dev/ion                  0666   system     system
/dev/video0               0660   media      media
/dev/video1               0660   media      media
/dev/cedar_dev            0660   media      media
/dev/snd/pcmC0D0c         0660   media      media
/dev/snd/pcmC0D0p         0660   media      media
/dev/graphics/fb1         0660   system     system
/dev/ttyUSB0              0660   system     radio
/dev/ttyUSB1              0660   system     radio
/dev/ttyUSB2              0660   system     radio
/dev/ttyUSB3              0660   system     radio
/dev/ttyUSB4              0660   system     radio
/dev/g2d                  0666   media      media
/dev/pa_dev               0660   media      media
/dev/sunxi_mem	          0660   media      media
/dev/pvrsrvkm             0666   root       root
/dev/block/nandf          0660   system     system
/dev/pvr_sync             0666   system     graphics
/dev/sr0                  0777   system     system
